certifi==2019.6.16
chardet==3.0.4
Cython==0.29.10
docutils==0.15.2
idna==2.8
Kivy==1.11.1
Kivy-Garden==0.1.4
Pygments==2.4.2
requests==2.22.0
urllib3==1.25.3
pynput==1.6.8
python-vlc==3.0.7110
Flask==1.1.1
flasgger==0.9.4
mutagen==1.44.0
Flask-MonitoringDashboard==3.0.9
firebase-admin==2.17.0