<!doctype html>
<html>
  <head>
    <title>ZenPlayer</title>
  </head>
  <body>
    <h1 align="center">ZenPlayer</h1>
    <h2 align="center">Player commands</h2>
    <div align="center" >
    <a align="center" href="/zenplayer/stop">Stop</a> -
    <a align="center" href="/zenplayer/play_pause">Play/Pause</a> -
    <a align="center" href="/zenplayer/play_next">Next</a> -
    <a align="center" href="/zenplayer/play_previous">Previous</a> -
    <a align="center" href="/zenplayer/volume_up">Volume up</a> -
    <a align="center" href="/zenplayer/volume_down">Volume down</a>
    </div>
    <div align="center">
    <h2 align="center">Track info</h2>
    <a align="center" href="/zenplayer/get_track_info">Track Info</a> -
    <a align="center" href="/zenplayer/get_track_meta">Track metadata</a> -
    <a align="center" href="/zenplayer/get_track_cover">Album cover</a>
    </div>
    </div>
    <h2 align="center">Documentation</h2>
    <div align="center">
    <a align="center" href="/swagger">Swagger docs</a>
    </div>
  </body>
</html>