<!doctype html>
<html>
  <head>
    <title>ZenPlayer</title>
  </head>
  <body>
    <h1 align="center">ZenPlayer</h1>
    {% for datum in class_data %}
      <h2 align="center">{{ datum["name"] }}</h2>
      <div align="center" >
        {% for mth in datum["methods"] %}
          {{" - " if loop.index > 1 else "" }}<a align="center" href="/{{ datum['name'].lower() }}/{{ mth }}">{{ mth.title() }}</a>
        {% endfor %}
      </div>
    {% endfor %}
    <h2 align="center">Documentation</h2>
    <div align="center">
    <a align="center" href="/swagger">Swagger docs</a>
    </div>
  </body>
</html>